body{
      background: pink;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.5rem;
      animation: changecolor 2s ease infinite;
     }
img{
        width: 350px;
        height: 350px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid rgb(137, 172, 68)
      }
.reseaux {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(180, 90, 173);
    }
.reseaux a {
    text-decoration: none;
    color: rgb(12, 83, 214);
    font-weight: bold;
    font-family: 'Comic Sans MS';
    }
.reseaux b{
    text-decoration: none;
    color: yellowgreen
    }
.reseaux li{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    }
.reseaux li i {
    width: 25px;
    text-align: center;
    margin-right: 5px;
    }
.image-container img:hover {
    transform: scale(1.05);
    }
.bsb{
        margin-top: 5px;
        padding: 10px;
    }
    .bsb b {
        color: rgb(76, 25, 92);
        font-family: 'Monotype Corsiva';
        font-size: 2.0rem;
    }
.rabienvs { 
    font-size:  5.0rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(77, 23, 128);
    text-shadow: 2px 4px 10px rgba(179, 9, 102, 0.3);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family:'Monotype Corsiva';
    }
.bienvs {
    font-size: 4.0rem;
    font-weight: 400;
    color: #9b1cbb;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Monotype Corsiva';
}
.andrian b{
    color: rgb(122, 19, 122);
}
.andrian h1 {
            color: rgb(10, 69, 197);
            }
h1{ 
        margin: 15px 0 5px 0;
        color: rgba(17, 39, 165, 0.938);
        text-transform: initial ;
        letter-spacing: 5px;
        font-family: 'MV Boli';
        font-size:  2.5rem;
        font-weight: 900;
        }
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    }
