body{
    background-color: #f7b7c3;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}
.card{
    width:800px;
    padding: 100px;
    background-color: #ffe6ed;
    border: 4px dashed rgb(218, 148, 177);
    border-radius: 25px;
    margin-bottom: 20px;
}
.container{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.text{
    margin-bottom: 50px;
   display: flex;
   align-items: center;
   gap: 50px;
}
.text h1{
    font-size: 50px;
}
.cadre .description {
    display: flex;
    justify-content: center;
}
.description{
   margin-top: 300px;
}
.description h1{
    font-size: 80px;
    color: rgb(101, 65, 104);
}
.script img{
    width: 180px; 
    height: auto; 
    display: flex;
}
.script {
 
    justify-content: center;
    align-items:center ;
}
.photo-profil{
    border-radius: 30%;
    border:4px solid rgba(161, 121, 158, 0.863); 
    width: 30%;
    height: 300px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.details {
    display: flex;
    flex-direction: column;
}
img{
    border-radius: 50%;
    width: 7%;
    height: 50px;
    margin-bottom: 2%;
}
